@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  padding: 60px 30px;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  background-image: url(images/jazz\ music\ love.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: transparent;
}

.section1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-blend-mode: multiply;
}

.welcome {
  flex: none;
  order: 0;
  font-size: 20px;
  color: red;
}

.heading {
  flex: none;
  order: 1;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-image: url(images/h1bg.jpg);
  background-repeat: repeat;
  background-position: -318px 56px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  color: red;
}

.desc-container {
  padding: 20px;
  box-sizing: border-box;
  order: 2;
  border: 10px solid white;
}

.description {
  flex: none;
  font-size: 16px;
  font-family: 'Lato-Regular', sans-serif;
  color: #5e5e5e;
}

.rad {
  order: 3;
}

.date {
  flex: none;
  font-size: 35px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
}

.location {
  flex: none;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Lato-Regular', sans-serif;
  color: #5e5e5e;
}

@media only screen and (max-width: 767px) {
  .section2 {
    padding: 20px;
    box-sizing: border-box;
    background: url('images/background\ main.jpg'), #282a34;
    background-size: auto, auto;
    background-size: contain;
    background-blend-mode: multiply;
  }

  .program-guide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: "Lato-Regular", sans-serif;
    color: white;
    margin-bottom: 10px;
  }

  .program ul li {
    list-style: none;
  }

  .order {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .opening {
    order: 0;
    display: flex;
    align-items: center;
    padding: 20px 6px;
    border-radius: 2px;
    list-style: none;
  }

  .first-round {
    order: 0;
    display: flex;
    align-items: center;
    padding: 20px 6px;
    border-radius: 2px;
    list-style: none;
  }

  .break {
    order: 0;
    display: flex;
    align-items: center;
    padding: 20px 6px;
    border-radius: 2px;
    list-style: none;
  }

  .second-round {
    order: 0;
    display: flex;
    align-items: center;
    padding: 20px 6px;
    border-radius: 2px;
    list-style: none;
  }

  .final-session {
    order: 0;
    display: flex;
    align-items: center;
    padding: 20px 6px;
    border-radius: 2px;
    list-style: none;
  }

  .opening img {
    order: 0;
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .first-round img {
    order: 0;
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .break img {
    order: 0;
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .second-round img {
    order: 0;
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .final-session img {
    order: 0;
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .program {
    order: 1;
    color: red;
    font-family: 'Lato-Bold', sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .program1 {
    order: 1;
    color: red;
    font-family: 'Lato-Bold', sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .program-description {
    order: 2;
    color: gray;
    flex: 50% 0 0;
    font-family: 'Lato-Regular', sans-serif;
  }

  .see {
    margin-top: 10px;
    text-decoration: underline;
    color: #fff;
    font-family: 'Lato-Regular', sans-serif;
  }

  body nav .menu-bar {
    height: 35px;
    width: 35px;
    top: 20px;
    left: 20px;
    color: black;
    font-weight: bolder;
    background: transparent;
    position: absolute;
    display: block;
  }

  .nav1,
  .nav2 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body nav .menu-bar {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background: #fff;
  }

  .nav1 {
    display: flex;
    order: 0;
    padding-left: 65%;
    background-color: lightgrey;
  }

  .nav1 ul li {
    list-style: none;
    padding: 3% 8%;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 450;
  }

  .page {
    white-space: nowrap;
  }

  .nav2 {
    display: flex;
    order: 1;
    background-color: #fff;
    justify-content: space-evenly;
  }

  .nav1 ul {
    display: flex;
  }

  .nav2 .logo {
    order: 0;
    height: 4%;
    width: 4%;
    margin: 0 10%;
  }

  .nav2 .links {
    order: 1;
  }

  .nav2 .links ul {
    display: flex;
  }

  .nav2 .links ul li {
    order: 1;
    list-style: none;
    padding: 3% 3%;
    box-sizing: border-box;
    margin: 3% 0;
  }

  .ab {
    text-decoration: none;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: bolder;
    color: red;
  }

  .list-link {
    text-decoration: none;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: bolder;
    color: black;
  }

  .nav2 .promotion {
    order: 2;
  }

  .nav2 .promotion .campaign {
    display: flex;
    width: 120%;
    padding: 3% 0%;
    box-sizing: border-box;
    border: 3px solid red;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }

  .welcome {
    margin-top: 10%;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    background: url('images/background\ main.jpg'), #282a34;
    background-size: auto, auto;
    background-size: contain;
    background-blend-mode: multiply;
  }

  .title-container {
    order: 0;
    display: flex;
    justify-content: center;
  }

  .title {
    color: #fff;
    font-weight: bolder;
    font-family: 'Lato-Bold', sans-serif;
    padding-top: 14px;
  }

  .program-guide {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .order {
    display: flex;
    order: 1;
  }

  .opening {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px 3px;
    box-sizing: border-box;
    min-height: 288px;
  }

  .opening img {
    order: 0;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .program {
    order: 1;
    color: red;
    font-family: 'Lato-Bold', sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .program-description {
    order: 2;
    color: rgb(236, 230, 230);
    font-family: 'Lato-Bold', sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .first-round {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px 3px;
    box-sizing: border-box;
    min-height: 288px;
  }

  .first-round img {
    order: 0;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .break {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px 3px;
    box-sizing: border-box;
    min-height: 288px;
  }

  .break img {
    order: 0;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .second-round {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px 3px;
    box-sizing: border-box;
    min-height: 288px;
  }

  .second-round img {
    order: 0;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .final-session {
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px 3px;
    box-sizing: border-box;
    min-height: 288px;
  }

  .final-session img {
    order: 0;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  .see-more {
    display: flex;
    order: 2;
    justify-content: center;
  }

  .see {
    color: #fff;
  }
}
